.print-only {
  display: none;
}

@media print {
  .no-print,
  .ant-layout-sider,
  .ant-layout-header {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .ant-layout,
  .ant-layout-content {
    background: #fff !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
